.colaborar-cabeza{
    text-align: left;
    font-size: 45px;
    color: black;
}

.colaborar-titulo{
    text-align: left;
    font-size: 30px;
    color: black;
}

.colaborar-texto{
    text-align: left;
    font-size: 18px;
    color: black;
}

.colaborar-citados{
    text-indent: 20px;
    text-align: left;
    font-size: 18px;
    color: black;
}

.varios{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.megafono{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.card{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 1px;
}

.card-title{
    font-size: 20px;
}

.card-text{
    font-size: 15px;
}

.card-vision{
    width: 100%;
    height: 20vh;
}

.card-claro{
    width: 100%;
    height: 20vh;
}

.registro-titulo{
    text-align: center;
    font-size: 35px;
    color: blue;
}

.registro-encabezado{
    text-align: left;
    font-size: 20px;
    color: black;
}

.registro-campos{
    text-align: left;
    font-size: 18px;
    color: black;
}

.registro-select{
    width: 100%;
    height: 50px;
    border: solid black;
}

.registro-citados{
    text-indent: 20px;
    margin-top: 12px;
    text-align: left;
    font-size: 16px;
    color: black;
}

.registro-input{
    width: 100%;
    height: 50px;
    border: solid black;
}

.registro-input2{
    width: 100%;
    height: 100px;
    border: solid black;
    padding-bottom: 60px;
}

.foto-texto{
    font-size: 14px;
    color: black;
    text-align: left;
}

.terminos{
    text-align: left;
    color: black;
    font-size: 15px;
}

.terminos-btn{
    background-color: white;
    border: solid black;
    width: 20px;
    height: 20px;
}

.publicar{
    text-align: center;
    border: solid black;
    width: 100%;
    font-size: 21px;
    height: 42px;
    background-color: green;
    color: white;
}

.publicar:hover{
    cursor: pointer;
    background-color: darkgreen;
    color: whitesmoke;
}

.publicar-mapa{
    width: 400px;
    height: 100%;
    margin-bottom: 20px;
}