.colaborar-cabeza{
    text-align: left;
    font-size: 45px;
    color: black;
}

.colaborar-titulo{
    text-align: left;
    font-size: 30px;
    color: black;
}

.colaborar-texto{
    text-align: left;
    font-size: 18px;
    color: black;
}

.colaborar-citados{
    text-indent: 20px;
    text-align: left;
    font-size: 18px;
    color: black;
}

.varios{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.megafono{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.card{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 1px;
}

.card-title{
    font-size: 20px;
}

.card-text{
    font-size: 15px;
}

.card-vision{
    width: 100%;
    height: 20vh;
}

.card-claro{
    width: 100%;
    height: 20vh;
}

.registro-titulo{
    text-align: center;
    font-size: 35px;
    color: blue;
}

.registro-encabezado{
    text-align: left;
    font-size: 20px;
    color: black;
}
