.perro{
    width: 200px;
    height: 120px;
}

.bg-custom{
    background-color: white;
    width: 100%;
}

.casita{
    width: 30px;
    height: 30px;
}

.casita:hover{
    color: white;
}

.custom-brand:hover{
    color: red;
    cursor: pointer;
}