.perro{
    width: 200px;
    height: 120px;
}

.bg-custom{
    background-image: linear-gradient(to bottom, #000000, #0A0A2A, #101046, #1A1A5C);
    width: 100%;
}

.custom-brand{
    color: white
}

.custom-brand:hover{
    color: wheat;
    cursor: pointer;
}

img{
    background-color: white;
}