.perro{
    width: 200px;
    height: 100px;
}

.bg-custom{
    background-color: #101046;
    width: 100%;
}

.custom-brand2{
    color: white;
}

.custom-brand2:hover{
    color: white;
}

.custom-brand{
    color: white;
}

.custom-brand:hover{
    color: wheat;
    cursor: pointer;
}

img{
    background-color: white;
}