.custom{
    height: 400px;
    background-color: whitesmoke;
    border: 1px solid red;
}

img{
    width: 600px;
    height: 398px;
}

img:hover{
    cursor: pointer;
}

.sep{
    margin-right: 30px;
}

.btn-secondary:hover{
    background-color: gray;
    color: whitesmoke;
}