.custom{
    height: 400px;
    
    background-image: linear-gradient(to bottom, #000000, #0A0A2A, #101046, #1A1A5C);
}

.custom2{
    height: 400px;
    background-image: linear-gradient(to bottom, #000000, #0A0A2A, #101046, #1A1A5C);
}

.custom3{
    color: white;
}

.custom4{
    height: 400px;
    background-color: black;
}

.custom5{
    background-color: #101046;
}

.letter{
    color: white;
    font-size: 32px;
}

.letter2{
    color: white;
    font-size: 20px;
}

.letter3{
    color: white;
    font-size: 15px;
}

img{
    width: 600px;
    margin-top: 10px;
    height: 380px;
}

img:hover{
    cursor: pointer;
}

.sep{
    margin-right: 30px;
}

.btn-secondary{
    margin-right: 20px;
}

.btn-secondary:hover{
    background-color: gray;
    color: whitesmoke;
}

.perfil{
    width: 300px;
    height: 200px;
}

.icono{
    width: 98px;
    height: 50px;
    margin-right: 10px;
}